<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>CinePhil</title>

</head>
@model IEnumerable<Result>


<body>
    <div class="wrapper container-fluid">
        <partial name="NavbarPartial"></partial>
        @{
        <h3 style="margin-top:100px;color:white;font: 20px 'Montserrat', sans-serif;margin-left:7vw"><i class="fa fa-search" style="margin-right:10px"></i>Search Results for '@ViewBag.title'</h3>
        }

        @* popular movie listing *@
        <div style="margin-top: 15px;" class="mainGroup d-flex flex-wrap justify-content-md-between justify-content-center">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

                @foreach (var r in Model)
                {

                    <div class="col-sm-6 col-md-3">
                        <div class="card">
                            <a href="/movie/@r.id">
                                @if(@r.poster_path == null)
                                {
                                    <img src="https://image.tmdb.org/t/p/w500/zYPsleQJo1n1rBPlecJBRb3iwSO.jpg" class="card-img-top" alt="@r.title">
                                }
                                else
                                {
                                <img src="https://image.tmdb.org/t/p/w500/@r.poster_path" class="card-img-top" alt="@r.title">
                                }
                            </a>

                            <div class="cardBody card-body">
                                <div style="display:flex;justify-content:space-between">

                                    <div class="title mb-1 mr-4 card-title">@r.title</div>
                                    @if(@r.vote_average > 7)
                                    {
                                    <span class="rating card-text" style="border:3px double forestGreen;">@r.vote_average </span>
                                    }
                                    else if(@r.vote_average > 5)
                                    {
                                    <span class="rating card-text" style="border:3px double rgb(216, 203, 54);">@r.vote_average </span>
                                    }
                                    else
                                    {
                                    <span class="rating card-text" style="border:3px double darkOrange;">@r.vote_average </span>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>


        </div>

    </div>
</body>

</html>
